<footer>
  <section>
    <h2>Logo</h2>
    <ul>
      <li>Address</li>
      <li>email</li>
      <li>phone</li>
      <li>socials</li>
    </ul>
  </section>
  <section>
    <h2>Category</h2>
    <ul>
      <li><a> Creating Writing </a></li>
      <li><a> Film & Video </a></li>
      <li><a> Graphic Design </a></li>
      <li><a> UI/UX Design </a></li>
      <li><a> Business Analytics </a></li>
      <li><a> Marketing </a></li>
    </ul>
  </section>
  <section>
    <h2>Quick Links</h2>
    <ul>
      <li><a> Privacy Policy </a></li>
      <li><a> Discussion </a></li>
      <li><a> Terms & Conditions </a></li>
      <li><a> Customer Support </a></li>
      <li><a> Course FAQ's </a></li>
    </ul>
  </section>
  <section class="subscription">
    <h2>Subscribe</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, laborum
      illum non aut nobis libero?
    </p>
    <div>
      <input placeholder="Email here" type="email" name="email" id="email" />
      <div>
        <button class="btn-primary">Subscribe now</button>
      </div>
    </div>
  </section>
</footer>
